<!-- Header section -->
<%-include('inc/header.ejs')-%>
    
<!-- Navigation section -->
<%-include('inc/navbar.ejs')-%>
        <main>
            <div class="main__container">
                <div class="main__title">
                    <img src="../img/admin/hello.svg" alt="">
                    <div class="main__greeting">
                        <h1>Hello Madiora</h1>
                        <p>Welcome to your admin dashboard</p>
                    </div>
                </div>

                <!-- Cards section -->
                <div class="main__cards">
                    <div class="card__custom">
                        <i class="fa fa-user-o fa-2x text-lightblue"></i>
                        <div class="card__inner">
                            <p class="text-primary-p">Number of Subscribers</p>
                            <span class="font-bold text-title">578</span>
                        </div>
                    </div>
                    <div class="card__custom">
                        <i class="fa fa-calendar fa-2x text-red"></i>
                        <div class="card__inner">
                            <p class="text-primary-p">Times of Watching</p>
                            <span class="font-bold text-title">2578</span>
                        </div>
                    </div>
                    <div class="card__custom">
                        <i class="fa fa-camera fa-2x text-yellow"></i>
                        <div class="card__inner">
                            <p class="text-primary-p">Number of Videos</p>
                            <span class="font-bold text-title">378</span>
                        </div>
                    </div>
                    <div class="card__custom">
                        <i class="fa fa-thumbs-up fa-2x text-green"></i>
                        <div class="card__inner">
                            <p class="text-primary-p">Number of Likes</p>
                            <span class="font-bold text-title">578</span>
                        </div>
                    </div>
                </div>

                <!-- chart section -->
                <div class="charts">
                    <div class="charts__left">
                        <div class="charts__left__title">
                        <div>
                            <h1>Daily Reports</h1>
                            <p>Cupertino, California, USA</p>
                        </div>
                        <i class="fa fa-usd"></i>
                     </div>
                     <div id="apex1"></div>
                    </div>

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>Stats Reports</h1>
                               <p>Cupertino, California, USA</p>
                            </div>
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="charts__right__cards">
                            <div class="card1">
                                <h1>Income</h1>
                                <p>$75,300</p>
                            </div>

                            <div class="card2">
                                <h1>Sales</h1>
                                <p>$175,300</p>
                            </div>
                            <div class="card3">
                                <h1>Users</h1>
                                <p>7300</p>
                            </div>
                            <div class="card4">
                                <h1>Orders</h1>
                                <p>6300</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <%-include('inc/sidebar.ejs')-%>


<%-include('inc/footer.ejs')-%>