<br>
<section class="service-area" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="owl-carousel owl-theme" id="categories">
                    <div class="service-wrap text-center">
                        <h3>Development</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Support</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Marketing</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Support</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Marketing</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Support</h3>
                    </div>
                    <div class="service-wrap text-center">
                        <h3>Marketing</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>