<div class="container__custom">
    <nav class="navbar__custom">
        <div class="nav_icon" onclick="toggleSidebar()">
            <i class="fa fa-bars"></i>
        </div>
        <div class="navbar__left">
            <a href="#" class="">Subscribers</a>
            <a href="#" class=""> Video Management</a>
            <a href="#" class="active_link">Admin</a>
            <a href="http://localhost:5000/" target="_blank" class="">View Site</a>
        </div>
        <div class="navbar__right">
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-clock-o"></i></a>
            <a href="">
                <img width="30px" src="../img/admin/avatar.svg" alt="">
            </a>
        </div>
    </nav>