<div id="sidebar">
    <div class="sidebar__title">
        <div class="sidebar__img">
            <img src="../img/admin/lg.png" alt="">
            <h1>Madiora</h1>
        </div>
        <i class="fa fa-times" id="sidebarIcon" onclick="closeSidebar()"></i>
    </div>
    <div class="sidebar__menu">
        <div class="sidebar__link active_menu_link">
            <i class="fa fa-home"></i>
            <a href="#">Dashboard</a>
        </div>
        <h2>MNG</h2>
        <div class="sidebar__link">
            <i class="fa fa-user-secret"></i>
            <a href="#">Admin Management</a>
        </div>
    
        <div class="sidebar__link">
            <i class="fa fa-archive"></i>
            <a href="#">Warehouset</a>
        </div>
        <div class="sidebar__link">
            <i class="fa fa-files-o"></i>
            <a href="#">Apply for Leave</a>
        </div>

        <h2>PAYROLL</h2>

        <div class="sidebar__link">
            <i class="fa fa-money"></i>
            <a href="#">Payroll</a>
        </div>
        <div class="sidebar__link">
            <i class="fa fa-briefcase"></i>
            <a href="#">Paygrade</a>
        </div>
        <div class="sidebar__link sidebar__logout">
            <i class="fa fa-power-off"></i>
            <a href="#">Logout</a>
        </div>
    </div>
</div>