<%-include('inc/header.ejs')-%>
<link rel="stylesheet" href="">

    <!----------------------------------------
           Navigation section 
---------------------------------------->
  <%-include('inc/navbar.ejs')-%>
  <header class="head-section">
    <div class="contact-head-overlay">
        <h1 class="text-center">Madiora Contact Us</h1>
    </div>
 </header>
  <div class="sidebar">
      <div class="featured_post">
          <h2>Featured <span>Post</span></h2>

          <div class="posts">
             <div class="calender"><p>16 <span>Jan</span></p></div>
             <div class="post_content">
                 <h6>Breakfast</h6>
                 <h1>Steamed Deliciuos</h1>
                 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum reprehenderit dolore, nemo explicabo blanditiis est incidunt vel ut odit.</p>
             </div>
        </div>
        <div class="posts">
            <div class="calender"><p>16 <span>Jan</span></p></div>
            <div class="post_content">
                <h6>Breakfast</h6>
                <h1>Steamed Deliciuos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum reprehenderit dolore, nemo explicabo blanditiis est incidunt vel ut odit.</p>
            </div>
       </div>
       <div class="posts">
        <div class="calender"><p>16 <span>Jan</span></p></div>
        <div class="post_content">
            <h6>Breakfast</h6>
            <h1>Steamed Deliciuos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum reprehenderit dolore, nemo explicabo blanditiis est incidunt vel ut odit.</p>
        </div>
   </div>
   <div class="posts">
    <div class="calender"><p>16 <span>Jan</span></p></div>
    <div class="post_content">
        <h6>Breakfast</h6>
        <h1>Steamed Deliciuos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum reprehenderit dolore, nemo explicabo blanditiis est incidunt vel ut odit.</p>
    </div>
</div>
<div class="posts">
    <div class="calender"><p>16 <span>Jan</span></p></div>
    <div class="post_content">
        <h6>Breakfast</h6>
        <h1>Steamed Deliciuos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis laborum reprehenderit dolore, nemo explicabo blanditiis est incidunt vel ut odit.</p>
    </div>
</div>
</div>

<div class="categories_type">
    <h2>Category of <span>Posts</span></h2>

    <div class="category"><a href="#">Health <span>351</span></a></div>
    <div class="category"><a href="#">Sports <span>261</span></a></div>
    <div class="category"><a href="#">Education <span>21</span></a></div>
    <div class="category"><a href="#">IT <span>651</span></a></div>
</div>

<div class="subscribe_secton">
    <div class="filter"></div>
    <h2>Get <span>Newsletter</span></h2>
    <div class="poster">
        <p>Subscribe to our newsletter and get our newest updates right on your inbox.</p>
        <input type="text" placeholder="Enter your email address">
        <button>Subscribe</button>
    </div>
</div>


</div>






  <%-include('inc/footer.ejs')-%>